// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #0f7662;
$secondary : #1f8fd1;
$accent    : #7cc043;

$dark      : #14313a;
$dark-page : #0d2229;

$positive  : #2c9b55;
$negative  : #c0392b;
$info      : #2f9ecb;
$warning   : #e1a11f;
